In [ ]:
# n=0
# while n<10:
#     n+=1
#     if n==5:
#         continue
    
# print(n) 



# Function to create a 3x3 matrix from user input
def create_matrix():
    matrix = []
    print("Enter 9 elements for the 3x3 matrix:")
    for i in range():
        row = []
        for j in range(4):
            element = int(input(f"Element [{i}][{j}]: "))
            row.append(element)
        matrix.append(row)
        
    print(matrix)
    return matrix

# Create and print the matrix
matrix = create_matrix()
print("3x3 Matrix:")

for i in matrix:
    print(i)
   
  import random
  
  
a=

Enter 9 elements for the 3x3 matrix:
[[1, 2, 3, 1], [3, 34, 2, 22], [32, 34, 54, 6], [73, 32, 65, 7], [3, 67, 87, 357]]
3x3 Matrix:
[1, 2, 3, 1]
[3, 34, 2, 22]
[32, 34, 54, 6]
[73, 32, 65, 7]
[3, 67, 87, 357]

In [2]:
a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [9]:
a=10
def m ():
    a=90
    return a
    print(a)

def n():
    print(a)
    
print(m())
print(n())

90
10
None

In [ ]:
import random 
from collections import Counter
import pandas as pd
import matplotlib.pyplot as py
def toss():
    return 'head' if random.randint(0,1)==1 else 'tail'


tosses=[toss() for i in range(0,100)]
print(tosses)

m=Counter(tosses)
print(m)
# d=pd.DataFrame.from_dict(data=m,orient='index')
# d.plot(kind='bar')
# py.show()
list1=[]

for i 
     a= random.randint(0,1)
     iif a==0
     
     list.ap(a""head)
 else:
     tail
     
 head=0
 tail=0    
for i in range(len(list1)):
    if i ==head:
        head +=1
        
    else:
        tail +=1

['tail', 'head', 'tail', 'tail', 'head', 'tail', 'head', 'tail', 'tail', 'head', 'head', 'head', 'tail', 'head', 'head', 'head', 'tail', 'head', 'head', 'head', 'tail', 'head', 'tail', 'tail', 'tail', 'head', 'head', 'head', 'tail', 'head', 'head', 'head', 'head', 'head', 'tail', 'tail', 'head', 'head', 'tail', 'head', 'tail', 'head', 'tail', 'head', 'head', 'head', 'tail', 'tail', 'tail', 'head', 'tail', 'head', 'head', 'tail', 'tail', 'tail', 'head', 'tail', 'tail', 'tail', 'head', 'head', 'head', 'head', 'tail', 'head', 'tail', 'head', 'head', 'head', 'tail', 'tail', 'tail', 'tail', 'tail', 'head', 'head', 'head', 'head', 'head', 'head', 'head', 'tail', 'tail', 'tail', 'head', 'tail', 'tail', 'tail', 'tail', 'head', 'head', 'tail', 'tail', 'tail', 'head', 'tail', 'head', 'tail', 'head']
Counter({'head': 53, 'tail': 47})

In [30]:
def hello(num1,num2):
    print("hello")
    return  num1+num2

    
    
hello(1,2)

hello

3

In [7]:
def make():
    matrix=[]
    for i in range(3):
        row=[]
        for j in range(3):
            ele=int(input(f'enter the input for {i}{j}'))
            row.append(ele)
        matrix.append(row)

        
    
    
    return matrix 


mat = make()
print("3x3 Matrix:")
print(mat)

3x3 Matrix:
[[1, 2, 3], '\n', [4, 5, 6], '\n', [7, 8, 9], '\n']

In [27]:
def linearSearch(arr, targetVal):
    for i in range(len(arr)):
        if arr[i] == targetVal:
            return str(i)
    return -1

arr = [3, 7, 2, 9, 5]
targetVal = 9


result = linearSearch(arr, targetVal)
print(result)

3

In [3]:
def s():
    n=2
    print(n)

NameError: name 'n' is not defined

In [15]:
try:
    print(10%-1)
    
except ZeroDivisionError:
    print("not divides by zero")
    
except ValueError:
    print("hello0")

0

In [27]:
# Example of ValueError

# Trying to convert a string that doesn't represent a number to an integer
try:
   print(10%0)
   
except ValueError as f :
    print("ValueError occurred: ",f)
    
finally:
    print("ook")

ook

ZeroDivisionError: integer modulo by zero

In [38]:
h="mm"
d=8
print(f"the name is {h} , and the age is this{d}")
print("the name is", h , "and the age is this",d)

the name is mm , and the age is this8
the name is mm and the age is this 8

In [26]:

def print_sum(*numbers):
    result = 0
    for x in numbers:
       result += x
       print (result)
    
print_sum(10,20,30,40)

10
30
60
100

In [30]:
num=10
def n():
    global num 
    num +=1
    print(num)
    
def mm():
    print(num)
    
n()
mm()

11
11

In [4]:
n= [10,"hello",10.98,True]
n=10
for i in range(1,n+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
number = 0
while number <= 10 :
  number += 1 
  if number == 5 :
   print("this number is 5")
   continue 

print(number)

this number is 5
11

In [2]:

def sum (numbers):
    total = 0
    n=len(numbers)
    for n in numbers:
        
        total +=  n
        
    return total/n

a=[1,2,3,4]
sum(a)

2.5

In [14]:
try:
    result ="hee"
    s=int(result)
    print
    
except ZeroDivisionError as e:
    print(e)
except:
    print("other")

other

In [15]:
try :
    print ( 10 / 0 )
except :
     print ( "Error!" )
finally :
     print ( "Always executed!" )

Error!
Always executed!

In [3]:
for a in range(1,5):
    for i in range (1,11):
        print (a, "*", i, "=", a*i)
        
        
print("\n")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [6]:
number = 0
while number < 10 :
    number += 1
    if number == 5 :
       print("this number is five")
       continue
    print (number)

1
2
3
4
this number is five
6
7
8
9
10

In [5]:
class astha():
    def m(self):

        print("hello")
        
        
    def n(self):
        print("astha")
        
        
obj= astha()
obj.n()
obj.m()

astha
hello

In [6]:
class Parent():
    def func1():
        print("This function is in the parent class.")

class Child(Parent):
    def func2():
        print("This function is in the child class.")

obj = Child

obj.func1()
obj.func2()
# single inheriteance

This function is in the parent class.
This function is in the child class.

In [7]:
class Mother:
    def func1(self):
        print("This function is in Mother class.")

class Father:
    def func2(self):
        print("This function is in Father class.")

class Child(Mother, Father):
    def func3(self):
        print("This function is in Child class.")

obj = Child()
obj.func1()
obj.func2()
obj.func3()
# multiple inher...

This function is in Mother class.
This function is in Father class.
This function is in Child class.

In [ ]:
class Grandparent:
    def func1(self):
        print("This function is in Grandparent class.")

class Parent(Grandparent):
    def func2(self):
        print("This function is in Parent class.")

class Child(Parent):
    def func3(self):
        print("This function is in Child class.")

obj = Child()
obj.func1()
obj.func2()
obj.func3()
# multi-level

This function is in Grandparent class.
This function is in Parent class.
This function is in Child class.

In [9]:
class Parent:
    def func1(self):
        print("This function is in Parent class.")

class Child1(Parent):
    def func2(self):
        print("This function is in Child1 class.")

class Child2(Parent):
    def func3(self):
        print("This function is in Child2 class.")

obj1 = Child1()
obj2 = Child2()
obj1.func1()
obj1.func2()
obj2.func1()
obj2.func3()

# Hierarchical Inheritance:

This function is in Parent class.
This function is in Child1 class.
This function is in Parent class.
This function is in Child2 class.

In [10]:
# Hybrid Inheritance:

class Base:
    def func1(self):
        print("This function is in Base class.")

class Child1(Base):
    def func2(self):
        print("This function is in Child1 class.")

class Child2(Base):
    def func3(self):
        print("This function is in Child2 class.")

class Grandchild(Child1, Child2):
    def func4(self):
        print("This function is in Grandchild class.")

obj = Grandchild()
obj.func1()
obj.func2()
obj.func3()
obj.func4()

This function is in Base class.
This function is in Child1 class.
This function is in Child2 class.
This function is in Grandchild class.

In [ ]:
# simple system


class employe:
    def __init__(self,name,age,salary):
        self.n=name
        self.a=age
        self.s=salary
        
    def display(self):
        print(f'the name of the employe is {self.n} and the age is {self.a} and the salary is {self.s}')
        
        
class manager(employe):
    def __init__(self, name, age, salary,department):
        super().__init__(name, age, salary)

In [ ]:
# import threading
# def function1():
#     for x in range ( 50):
#       print ( "ONE" )
# def function2():
#      for x in range ( 40):
#        print ( "TWO" )
# t1 = threading.Thread( target =function1)
# t2 = threading.Thread( target =function2)
# t1.start()
# t2.start()

ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
ONE
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO
TWO

In [8]:
import threading
def function():
   for x in range ( 50):
      print ( "HELLO WORLD!" )
t1 = threading.Thread( target =function)
t1.start()
print ( "THIS IS THE END!" )

HELLO WORLD!THIS IS THE END!

HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!
HELLO WORLD!

In [9]:
def find_largest(nums):
    if not nums:  # Check if the list is empty
        return None

    largest = nums[0]  # Assume the first element is the largest
    for num in nums:
        if num > largest:
            largest = num
    return largest

# Example usage
numbers = [10, 34, 12, 56, 78, 23, 45]
largest_number = find_largest(numbers)
print(f"The largest number in the list is: {largest_number}")

The largest number in the list is: 78

In [18]:
def num(a, b):
    x = 0
    for i in range(b):
        if a[i] > a[x]: 
            x = i
    return x

Hhh = [91, 93, 55, 76, 87, 100]
h = len(Hhh)
J = num(Hhh, h)  
print(f'{Hhh[J]} is the largest number in the list')

100 is the largest number in the list

In [3]:
a=10
b=5
print("the value in a is ",a,"and the value in b is ",b)
print(f"the value in a is {a} and the vakue in b is {b}")

the value in a is  10 and the value in b is  5
the value in a is 10 and the vakue in b is 5

In [ ]:
def make():
    matrix=[] 
    for i in range(3):
        row=[]
        for j in range(3):
            input
            if i==j:
               row.append(1)
               
               
               
            else:
                row.append(0)
        matrix.append(row)
        

        
    

    return matrix 


mat = make()
for m in mat:
   print(m)

[1, 0, 0]
[0, 1, 0]
[0, 0, 1]

In [8]:
a="hello  - world - hii"
print(a.split("1"))
reverse_a = a[]
print(reverse_a)

SyntaxError: invalid syntax (2241164640.py, line 3)

In [27]:
class Employee:
    def __init__(self, name, salary, age):
        self.name = name
        self.salary = salary
        self.age = age

    def display(self):
        print(f"Name: {self.name}, Salary: {self.salary}, Age: {self.age}")

# Derived class
class Manager(Employee):
    def __init__(self, e, department):
        super().__init__(e.name, e.salary, e.age)
        self.department = department

    def display_details(self):
        print(f"Name: {self.name}, Salary: {self.salary}, Age: {self.age}, Department: {self.department}")

# Instantiate objects
e = Employee("John Doe", 50000, 78)
manager = Manager(e, "HR")

# Display details
manager.display()  # Output: Name: John Doe, Salary: 50000, Age: 78
manager.display_details()   # Output: Name: John Doe, Salary: 50000, Age: 78, Department: HR

Name: John Doe, Salary: 50000, Age: 78
Name: John Doe, Salary: 50000, Age: 78, Department: HR

In [7]:
def vanshika():
    print("hello")
    
    
def naman(x,y):
    print(x+y)
    
    
vanshika()
naman(1,2)

hello
3

In [ ]:
import numpy as np


# Define two matrices as NumPy arrays
A = np.array([[1, 2], [3, 4]]) 
B = np.array([[5, 6], [7, 8]])

# Perform matrix multiplication
result = np.dot(A, B)
# Alternatively: result = A @ B

# Display the result
print("Matrix Multiplication Result:")
print(result)

Matrix Multiplication Result:
[[19 22]
 [43 50]]

In [2]:
# Define two matrices
A = [[1, 2], 
     [3, 4]]

B = [[5, 6], 
     [7, 8]]

# Initialize the result matrix with zeros
result = [[0, 0], [0, 0]]


for i in range(len(A)):         # Iterate over rows of A
    for j in range(len(B[0])):  # Iterate over columns of B
        for k in range(len(B)): # Iterate over rows of B
            result[i][j] += A[i][k] * B[k][j]

# Display the result
print("Matrix Multiplication Result:")
for row in result:
    print(row)

Matrix Multiplication Result:
[19, 22]
[43, 50]

In [5]:
a=10
print("a is the value in a ")
print(a ,"is the value in a ",a,a)
print(f"{a} is the value in a {a}{a}{a}")

a is the value in a
10 is the value in a  10 10
10 is the value in a 101010

In [ ]:
number=  3
if number % 2 == 0 : 
   if number == 0 :
      print ( "Your number is even but zero" )
   else :
        print ( "Your number is even" )
else :
 print ( "Your number is odd" )

Your number is odd

In [4]:
n=12
while n>=10:
    # n -=1
    n = n-1   
    print("hi")
    
    
print(n)

hi
hi
hi
9

In [7]:
n= int(input("enter"))
l=[]
for i in range(n):
    e= input("enter the word")
    l.append(e)
    
max=0
lon=0

for i in l:
    count=0
    for j in i:
        count+=1
        
    if max<count:
        max= count
        lon=i
        
        
        
print(max,lon)

12 enttelegent

In [ ]:
# list1=["apple","apple","apple","world","akriti"]
# input1  = "apple"
# input=4  cal=3
# cal>=input:
#     count =0
# if input1 in list1:
#     for i in range(len(list1)):
#          count +=
#          coutn=3
#          if countn>cal:
             
    
# else:
#     "not present"


# list1=["apple","world","akriti"]

In [13]:
l=[1,1,2,3,4]

<class 'float'>

In [9]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ") 
        
        
    
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:

i=1 
while i:

In [22]:

dict1={
    
    "name":"john",
    "age":12,
    "height":6.1
    }


# print(len(dict1))
# print(str(dict1))
# print(dict1.clear())
print(dict1)
print(dict1.copy())
two= dict1.fromkeys("age")
print(two)
print(dict1.get("akriti","key not present"))

{'name': 'john', 'age': 12, 'height': 6.1}
{'name': 'john', 'age': 12, 'height': 6.1}
{'a': None, 'g': None, 'e': None}
key not present

In [24]:
list1=[189,3,"e382",283]


print(20  not in list1)

True

In [28]:
# Python Program to Create a List of Tuples with the First Element as the Number and Second Element as the Square of the Number



# [(2,4),(3,9),(4,16),(5,25)]

# b=10
# a=[(x,x**2) for x in range(1,b+1)]
# print(a)


list1=[]
for i in range(1,10+1):
    list1.append((i,i**2))
    
    
print(list1)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [ ]:
# Python Program to Remove All 
# Tuples in a List Outside the Given Range


# Python Program to Check if a Key Exists in a Dictionary or Not
# Python Program to Find the Sum of All the Items in a Dictionary


# Python Program to Concatenate Two Dictionaries

In [9]:
# typecasting
a= int(input("enter your marks: "))
b=input("enter your marks: ")
b=int(b)
print(a+b)

print(type(a))
print(type(b))

3
<class 'int'>
<class 'int'>

In [ ]:
tup1=[(10,'a',10.90),(20,'b',89.90),(30,'c',90.89),(40,'d',100.89),(50,'e',120.878)]



min,max=20,40




print(filtered)

[(20, 'b', 89.9), (30, 'c', 90.89), (40, 'd', 100.89)]

In [ ]:
# Case 1:
# Enter string:hello world program world test
# {'test': 1, 'world': 2, 'program': 1, 'hello': 1}
 
# Case 2:
# Enter string:orange banana apple apple orange pineapple
# {'orange': 2, 'pineapple': 1, 'banana': 1, 'apple': 2}

In [18]:
tup1=(10,89,89,89)

tup1[0]="akriti"

TypeError: 'tuple' object does not support item assignment

In [ ]:
dict1={
    "name":90,
    "age":45
}



print(dict1)

{'name': 'john', 'age': 45}

In [9]:
num=0

     
if num%2 == 0:
    print("even")
else:
    print("odd")

even

In [ ]:
inp= input("enter the string ")
words= inp.split()
print(words)

cou={}   
for i in words:
    cou[i]= cou.get(i,0)+1




print(cou)

['my', 'name', 'is', 'akriti', 'hi', 'my', 'name', 'is', 'anmika', 'hello', 'world']
{'my': 2, 'name': 2, 'is': 2, 'akriti': 1, 'hi': 1, 'anmika': 1, 'hello': 1, 'world': 1}

In [ ]:
# list1=[1,4,5,2,7]
# O(1)->best case 
# worst case -> O(n)->linear time complex

# n=7
# for i in range(len(list1)):
#     if(list1[i]==n):
#         print(f"the index is{i}")

the index is4

In [12]:
# binary search 
array = [2, 4, 6, 8, 10, 12, 14, 16]
x=16

right=len(array)-1
left=0


while left<= right:
    mid= left+(right-left)//2
    
    
    if array[mid]==x:
        print(f"element found{array[mid]}")
        break
    
    elif array[mid]<x:
        left = mid+1
        print("ok")
        
    else:
        right = mid-1
        print("oooo")
else:
    print("element not found ")

ok
ok
ok
element found16

In [18]:
def hello(num1,num2):
    sum= num1+num2
    print(sum)



mm = hello(1,2)
nn=hello(8,9)
n=hello(7,8)
mm

3
17
15